@model RailwayCompanyIS.Models.CarrierViewModel.CarrierIndexModel;

@{
    ViewData["Title"] = "Машинисты";
}
@section Scripts {
    <script src="~/js/mysite.js"></script>
}

<div class="container">
    <div class="page-header clearfix datailHeading">
        <h2 class="text-muted">Машинисты</h2>

    </div>
</div>


<div class="row m-auto justify-content-center">
    <div class="col-auto">
        @if (TempData["msg"] != null)
        {
            <div id="containerInfo">
                <p>
                    @TempData["msg"]
                </p>

            </div>  
            <br />
        }
        <a class="btn btn-outline-primary btn-lg" asp-controller="Carrier" asp-action="Create">Добавить нового машиниста</a>
        <div>
            <p></p>
        </div>
        <table class="table table-striped table-bordered table-hover table-condensed table-responsive cityIndexTable">
            <thead class="thead-dark">
                <tr>
                    <th>Имя</th>
                    <th>Табельный номер</th>
                    <th>Адрес</th>
                    <th>Контакты</th>
                    <th>Количество поездов</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var carrier in Model.Carriers.Reverse())
                {
                <tr class="assetRow">
                    <td class="">
                        <a asp-controller="Carrier" asp-action="Detail" asp-route-id="@carrier.Id">
                            @carrier.Name
                        </a>
                    </td>
                    <td>@carrier.Id</td>
                    <td class="">@carrier.Address.StreetName, @carrier.Address.StreetNumber (@carrier.Address.City.Name)</td>
                    <td class="">
                        @if (carrier.Contacts.Count() == 0)
                        {
                            <p>
                                Нет контактов
                            </p>
                        }
                        else
                        {
                            @carrier.Contacts
                        }
                    </td>
                    <td class="">@carrier.Vehicles.Count()</td>
                    <td>
                        <div class="col-auto">
                            <form asp-action="Edit" asp-route-id="@carrier.Id">
                                <button type="submit" class="btn btn-success" aria-label="Edit">
                                    <i class="mdi mdi-pencil" aria-hidden="true"></i>Изменить
                                </button>
                            </form>
                            <form asp-action="Delete" asp-route-id="@carrier.Id">
                                <button type="submit" class="btn btn-danger" aria-label="Delete">
                                    <i class="mdi mdi-delete" aria-hidden="true"></i>Удалить
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

</div>

